*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    color: white;
    background-color: black;
    position: sticky;
    width: 100%;
    height: 60px;
    z-index: 1;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    
}
.navbar ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 8px 25px;
    transition: all .5s ease;
    width: 100%;
}
.navbar ul li a:hover{
    background-color: red;
    color: black;
    box-shadow: 0 0 10px darkgoldenrod;
}


/* Home Section */
#home{
    display:flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    text-align: center;
    color: rgb(250, 250, 251);
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.9;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid  white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

span{
    color: red;
}

.hot{
    color: orange;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid red;
    color: rgb(250, 249, 249);
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
    color: black;
    box-shadow: red;
    font-weight: bold;
} 

body{
    background-image:url(Background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

/* About Section */


#intro{
    padding-left: 50px;
}

#intro h2{
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 700px;
    text-align: left;
    letter-spacing: 2px;
}

#intro p{
    color: aliceblue;
    padding-left: 700px;
    font-size: 1rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


/* Menu Section */
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: left;
    margin: 0px 40px;
}
img{
    width: 300px;
    height: 300px;
    align-items: center;
}

#home{
    display: grid;
    margin: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "heading1   heading    heading2"
    "pic1      pic2       pic3"
    "pic4     pic5        pic6";
    ;
}
.head {
    grid-area: heading;
    text-align: center;
    border: auto;
    margin: 20px;
}

.head h1{
        text-align: center;
        margin: 20px;
}
#taper{
    grid-area: pic1;
    width: 500px;
    height: 300px;
    margin: 45px;
    filter: grayscale(75%);
}

#taper:hover{
    filter: grayscale(0%);
}

#taper h2{
    text-align: center;
}

#mullet{
    grid-area: pic2;
    width: 500px;
    height: 300px;
    align-items: center;
    margin: 45px;
    filter: grayscale(75%);
}

#mullet:hover{
    filter: grayscale(0%);
}
#mullet h2{
    text-align: center;
}

#beard{
    grid-area: pic3;
    width: 500px;
    height: 300px;
    align-items: center;
    margin: 45px;
    filter: grayscale(75%);
}

#beard:hover{
    filter: grayscale(0%);
}
#beard h2{
    text-align: center;
}

#Bunny{
    grid-area: pic4;
    width: 500px;
    height: 300px;
    align-items: center;
    margin: 45px;
    filter: grayscale(75%);
}

#Bunny:hover{
    filter: grayscale(0%);
}
#Bunny h2{
    text-align: center;
}

#Vienna{
    grid-area: pic5;
    width: 500px;
    height: 300px;
    align-items: center;
    margin: 45px;
    filter: grayscale(75%);
}

#Vienna:hover{
    filter: grayscale(0%);
}
#Vienna h2{
    text-align: center;
}

#Calamari{
    grid-area: pic6;
    width: 500px;
    height: 300px;
    align-items: center;
    margin: 45px;
    filter: grayscale(75%);
}

#Calamari:hover{
    filter: grayscale(0%);
}

#Calamari h2{
    text-align: center;
}



/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: transparent;
    color: aliceblue;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding-left: 700px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 30%;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    background-color: black;
    color: rgb(8, 218, 237);
    box-shadow: 0 0 10px rgb(1, 1, 4);
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

/* Footer */
#social {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    color: black;
    align-items: center;
    padding: 5px;
  }
  #social div {
    display: flex;
  }
  #social p {
    margin-top: 12px;
    margin-right: 20px;
  }
  .social-links {
    justify-content: space-between;
  }
  .social-links i {
    margin: 0 3px;
  }
  footer{
    position: sticky;
    width: 100%;
    bottom: 0;
  }
  
/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 100px;
   }
   
   /* Table headers */
   th {
    background-color: #f0e102;
    color: black;
   }
   
   /* Table cells */
   td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: red;
    color: black;
   }
/* Media query */
@media only screen and (max-width: 800px){
    nav ul{
        position: sticky;
        top: 0px;
        left: 0;
        background: black;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: flex;
        margin-right: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .col-2{
        flex-basis: 100%;
        margin: 100px auto;
    }
    body{
        text-align: left;
    }
}
    
    @media only screen and (max-width: 600px){
        .row{
            text-align:center;
        }
        .col-2{
            flex-basis: 100%;
            margin: 100px auto;
        }
        .col-3{
            flex-basis: 100%;
            padding-right: 200px;
        }
    }

/* Animations */
@keyframes example {
    0%   {background-color: orangered;}
    25%  {background-color: red;}
    50%  {background-color: orangered;}
    75% {background-color: red;}
    100%  {background-color: orangered;}
  }

  .heading{
    animation-iteration-count: infinite;
    background-color: orangered;
    animation-name: example;
    animation-duration: 4s;
    position: relative;
  }  
  @keyframes About {
    0%   {color: orange;}
    25%  {color: red;}
    50%  {color: rgb(234, 255, 0);}
    75%  {color: orange;}
    100% {color: red;}
  }

  #intro h2{
    animation-iteration-count: infinite;
    color: red;
    animation-name: About;
    animation-duration: 4s;
    position: relative;
  }

  @keyframes Home {
    0%   {color: orange;}
    25%  {color: red;}
    50%  {color: rgb(234, 255, 0);}
    75%  {color: orange;}
    100% {color: red;}
  }

  .hot{
    animation-iteration-count: infinite;
    color: red;
    animation-name: Home;
    animation-duration: 4s;
    position: relative;
  }